<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MarkedPOP</key>
	<dict>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>is_favorite</key>
		<string>is_favorite</string>
	</dict>
	<key>MarkedSession</key>
	<dict>
		<key>create_date</key>
		<string>create_date</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>is_favorite</key>
		<string>is_favorite</string>
	</dict>
	<key>Painting</key>
	<dict>
		<key>create_date</key>
		<string>date</string>
	</dict>
	<key>User</key>
	<dict>
		<key>create_date</key>
		<string>create_date</string>
		<key>email</key>
		<string>email</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>name</key>
		<string>name</string>
		<key>photo</key>
		<string>photo</string>
		<key>mobile_no</key>
		<string>mobile_no</string>
	</dict>
	<key>UserRegisteredSession</key>
	<dict>
		<key>create_date</key>
		<string>create_date</string>
		<key>email</key>
		<string>email</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>name</key>
		<string>name</string>
		<key>photo</key>
		<string>photo</string>
		<key>mobile_no</key>
		<string>mobile_no</string>
		<key>sessionId</key>
		<string>sessionId</string>
	</dict>
	<key>InviteUsers</key>
	<dict>
		<key>create_date</key>
		<string>create_date</string>
		<key>email</key>
		<string>email</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>name</key>
		<string>name</string>
		<key>photo</key>
		<string>photo</string>
		<key>mobile_no</key>
		<string>mobile_no</string>
		<key>role</key>
		<string>role</string>
		<key>provider</key>
		<string>provider</string>
		<key>location</key>
		<string>location</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>isBlocked</key>
		<string>isBlocked</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>google</key>
		<string>google</string>
		<key>facebook</key>
		<string>facebook</string>
		<key>device</key>
		<string>device</string>
		<key>contact_list</key>
		<string>contact_list</string>
	</dict>
	<key>MyScore</key>
	<dict>
		<key>newPOP</key>
		<string>NewPOP</string>
		<key>newSession</key>
		<string>NewSession</string>
		<key>uploadingPhoto</key>
		<string>UploadingPhoto</string>
		<key>totalPoints</key>
		<string>TotalPoints</string>
	</dict>
	<key>CreateSession</key>
	<dict>
		<key>cost</key>
		<string>cost</string>
		<key>currency</key>
		<string>currency</string>
		<key>costAmount</key>
		<string>costAmount</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>finishTime</key>
		<string>finishTime</string>
		<key>invitation_count</key>
		<string>invitation_count</string>
		<key>commentsData</key>
		<string>commentsData</string>
		<key>unregister_count</key>
		<string>unregister_count</string>
		<key>totalRegistered</key>
		<string>totalRegistered</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>location</key>
		<string>location</string>
		<key>materials</key>
		<string>materials</string>
		<key>maxParticipations</key>
		<string>maxParticipations</string>
		<key>photo</key>
		<string>photo</string>
		<key>sessionType</key>
		<string>SessionType</string>
		<key>startTime</key>
		<string>startTime</string>
		<key>textdescription</key>
		<string>description</string>
		<key>title</key>
		<string>title</string>
		<key>address</key>
		<string>address</string>
		<key>is_favorite</key>
		<string>is_favorite</string>
		<key>sessionPeriod</key>
		<string>sessionPeriod</string>
		<key>remainingParticipations</key>
		<string>remainingParticipations</string>
		<key>contactNo</key>
		<string>contactNo</string>
		<key>email</key>
		<string>email</string>
		<key>isFiltered</key>
		<string>isFiltered</string>
		<key>notification_count</key>
		<string>notification_count</string>
		<key>is_expired</key>
		<string>is_expired</string>
		<key>registreredUsers</key>
		<string>registreredUsers</string>
		<key>invitation</key>
		<string>invitation</string>
	</dict>
	<key>CreatePop</key>
	<dict>
		<key>location</key>
		<string>location</string>
		<key>title</key>
		<string>title</string>
		<key>popdescription</key>
		<string>description</string>
		<key>navigationTips</key>
		<string>navigationTips</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>accessibility</key>
		<string>accessibility</string>
		<key>hourForPainting</key>
		<string>hourForPainting</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>photo</key>
		<string>photo</string>
		<key>painting</key>
		<string>painting</string>
		<key>address</key>
		<string>address</string>
		<key>is_favorite</key>
		<string>is_favorite</string>
		<key>ratingAvg</key>
		<string>ratingAvg</string>
	</dict>
	<key>PaintingsByDate</key>
	<dict>
		<key>entity_id</key>
		<string>_id</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>image</key>
		<string>image</string>
		<key>userid</key>
		<string>userid</string>
		<key>likes_users</key>
		<string>likes_users</string>
		<key>likes</key>
		<string>likes</string>
		<key>flag</key>
		<string>flag</string>
	</dict>
	<key>ReviewMe</key>
	<dict>
		<key>create_date</key>
		<string>create_date</string>
		<key>entity_id</key>
		<string>id</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>rating</key>
		<string>rating</string>
		<key>review</key>
		<string>review</string>
		<key>isByMe</key>
		<string>isByMe</string>
		<key>popId</key>
		<string>popId</string>
	</dict>
	<key>MyBookingHistory</key>
	<dict>
		<key>create_date</key>
		<string>create_date</string>
		<key>entity_id</key>
		<string>id</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>spots</key>
		<string>spots</string>
	</dict>
	<key>Announcement</key>
	<dict>
		<key>title</key>
		<string>title</string>
		<key>date</key>
		<string>date</string>
		<key>annoucementdescription</key>
		<string>description</string>
		<key>photo</key>
		<string>photo</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>AppContact</key>
	<dict>
		<key>number</key>
		<string>number</string>
		<key>contact_name</key>
		<string>contact_name</string>
		<key>mobile_no</key>
		<string>mobile_no</string>
		<key>userId</key>
		<string>userId</string>
		<key>email</key>
		<string>email</string>
	</dict>
	<key>NotificationData</key>
	<dict>
		<key>body</key>
		<string>body</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>title</key>
		<string>title</string>
		<key>type</key>
		<string>type</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>is_read</key>
		<string>is_read</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>receiveUser</key>
		<string>receiveUser</string>
		<key>sentUser</key>
		<string>sentUser</string>
	</dict>
	<key>CommentsSession</key>
	<dict>
		<key>comment</key>
		<string>comment</string>
		<key>entity_id</key>
		<string>_id</string>
		<key>sessionId</key>
		<string>sessionId</string>
		<key>is_deleted</key>
		<string>is_deleted</string>
		<key>create_date</key>
		<string>create_date</string>
		<key>last_updated</key>
		<string>last_updated</string>
		<key>userId</key>
		<string>userId</string>
	</dict>
</dict>
</plist>
